import("rjags")
import("coda")

export(JAGSrun, JAGScall, BMMmodel, JAGScontrol,
       BMMpriors, BMMposteriori, Sort, randomPermutation, BMMdiag, 
       initsFS, priorsFish, priorsRaftery, priorsUncertain)

S3method("plot", "jags")
S3method("plot", "BMMposteriori")

S3method("print", "jags")
S3method("print", "JAGSmodel")
