export(JAGSrun, JAGScall, BMMmodel, JAGScontrol,
       BMMpriors, BMMposteriori, Sort, randomPermutation, BMMdiag, 
       initsFS, priorsFish, priorsRaftery, priorsUncertain)

S3method("plot", "JAGSrun")
S3method("plot", "BMMposteriori")

S3method("print", "JAGSrun")
S3method("print", "JAGSmodel")
S3method("print", "summaryShort_mcmc")

S3method("JAGScall", "BMMsetup")
S3method("JAGScall", "default")
